<app-navbar></app-navbar>
<div class="lg:flex lg:flex-col w-full subheader-border lg:px-16 py-4 px-6">
    <div class="nav-item lg:flex lg:justify-normal lg:items-center w-full">
        <div
            (click)="onNavigateTo('back')"       
            class="subitem-text cursor-pointer" 
            >
            Talleres
        </div>
        <div
            (click)="onNavigateTo('works')"
            class="subitem-text cursor-pointer active lg:px-16" 
            >
            Obras
        </div>
    </div>
</div>
@if(selectedWork){
<div class="mb-10 lg:px-16 px-6 py-8">
    <div class="project-details-container">
        <div class="banner-image">
            <img [src]="selectedWork.mainImage" alt="imagen" class="project-image">
        </div>
        <div class="title-text mt-[48px] mb-[24px]">
            <div class="lg:w-1/2 text-left font-extrabold">
                {{ selectedWork.title }}
            </div>
        </div>
        <div class="subtitle-text mb-[24px] lg:w-2/3">
            <p [innerHtml]="selectedWork.subtitle | safeHtml"></p>
        </div>
        <div class="description-text mb-[24px] lg:w-2/3">
            <p [innerHtml]="selectedWork.description | safeHtml"></p>
        </div>
        @if(selectedWork.pdfLink) {
        <div class="download-button">
            <button class="btn-download cursor-pointer">
            <a 
                [href]="selectedWork.pdfLink | safeResourceUrl" 
                target="_blank" 
                rel="noopener noreferrer"
            >
                {{ selectedWork.pdfLinkButton }}
            </a>
            </button>        
        </div>
        }
        <hr class="h-px my-[48px] bg-[#D9D9D9] border-0">
        @if(selectedWork.galleryImages && selectedWork.galleryImages.length > 0) {
        <div class="project-gallery">
            <div class="grid lg:grid-cols-2 gap-4">
                @for(image of selectedWork.galleryImages; track image) {
                    <img [src]="image" alt="imagen" class="gallery-image">
                }
            </div>  
        </div>
        <hr class="h-px my-[48px] bg-[#D9D9D9] border-0">
        }
        @if(selectedWork.audioEmbed) {
        <div class="project-embed">
            <div class="w-full overflow-hidden">
                <iframe style="border-radius:12px" 
                    [src]="selectedWork.audioEmbed | safeResourceUrl"
                    width="100%" height="152" frameBorder="0" 
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                    loading="lazy">
                </iframe>
            </div>
        </div>
        <hr class="h-px my-[48px] bg-[#D9D9D9] border-0">
        }
        @if(selectedWork.videoLink) {
        <div class="project-video">
            <div class="mx-auto my-8">
                <iframe width="100%" height="500px" scrolling="no" frameborder="no" allow="autoplay" [src]="selectedWork.videoLink | safeResourceUrl"></iframe>
            </div>        
        </div>
        <hr class="h-px my-[48px] bg-[#D9D9D9] border-0">
        }
        @if(selectedWork.footerText){
            <div class="footer-text lg:w-2/3">
                {{ selectedWork.footerText }}
            </div>
        }
        <div>
            <app-go-up-button></app-go-up-button>
        </div>
    </div>
</div>
}
