.card-title {
    font-size: 32px;
    font-family: Josefin Sans;
    font-weight: 500;
    /* color: #F8F2F7; */
}

.card-subtitle {
    font-size: 13px;
    font-family: Josefin Sans;
    font-weight: 400;
    /* color: #D6CFDF; */
}

/* .card-title:hover {
    font-size: 36px;
    font-family: Josefin Sans;
    font-weight: 600;
    color: #D2AFFF;
}

.card-subtitle:hover {
    font-size: 14px;
    font-family: Josefin Sans;
    font-weight: 500;
    color: #D2AFFF;
} */

