<app-navbar></app-navbar>
<hr class="border-[#D9D9D9]" />
<div class="mb-10 lg:px-16 px-6 py-8">
    <div class="w-full lg:bg-[#000000]">
        <img
            class="w-full lg:h-[540px] h-auto object-contain"
            src="assets/img/vane-foto-bio.webp"
            alt="bio image" />
    </div>
    <div class="lg:mt-12 mt-6">
        <div class="first-title">Bio</div>
        <div class="lg:w-5/7 w-full mt-6">
            <p class="content-text">
                <b>María Vanesa Ruffa</b> es compositora, clarinetista, investigadora y docente. Es Mtra. Nacional de Música (Esc. Nacional de Música Juan Pedro Esnaola), Lic. En Música Contemporánea (CEAMC), Lic. En Ciencias de la Educación (USAL) y Mg. en Creación Musical, Nuevas Tecnologías y Artes Tradicionales (UNTREF). Actualmente en proceso de Tesis de la “Maestría en Políticas y Administración de la Educación” de la UNTREF. 
            </p>
        </div>

        <div class="second-title mt-8 mb-4">Proyectos</div>
        <div class="link-text cursor-pointer">
            <a 
                href="https://artesonoro.untref.edu.ar/es/mapa-historico-sonoro-de-argentina-huellas-migrantes-devenir-sonoro-de-la-inmigracion-ultramarina-en-la-argentina" 
                target="_blank" 
                rel="noopener noreferrer"
            >
                Mapa histórico sonoro de argentina, huellas sonoras itinerantes
            </a>
        </div>

        <div class="link-text cursor-pointer">
            <a 
                href="https://www.instagram.com/domusartis.com.ar" 
                target="_blank" 
                rel="noopener noreferrer"
            >
                Espacio cultural Domus Artis
            </a>
        </div>

        <div class="link-text cursor-pointer">
            <a 
                href="https://artesonoro.untref.edu.ar/es/equipo" 
                target="_blank" 
                rel="noopener noreferrer"
            >
                Coordinación académica | Arte Sonoro UNTREF
            </a>
        </div>

        <div class="link-text cursor-pointer">
            <a 
                href="https://www.instagram.com/ladonflorencio" 
                target="_blank" 
                rel="noopener noreferrer"
            >
                La banda de Don Florencio
            </a>
        </div>    
    </div>
</div>
