<app-navbar></app-navbar>
<hr class="border-[#D9D9D9]" />
<div class="lg:px-16 px-6 py-8">
    <div class="contact-title">Contacto</div>

    <div class="lg:pt-12 pt-6">
        <div class="contact-subtitle">Correo electrónico</div>
        <div class="contact-data link-text cursor-pointer"><a href="mailto:mvanesaruffa@gmail.com">mvanesaruffa&#64;gmail.com</a></div>
    </div>

    <!-- <div class="lg:pt-12 pt-6">
        <div class="contact-subtitle">Teléfono</div>
        <div class="contact-data link-text cursor-pointer">1234-5678</div>
    </div> -->

    <div class="lg:pt-12 pt-6">
    <div class="contact-subtitle">Instagram</div>
    <div class="contact-data link-text cursor-pointer">
        <a 
        href="https://www.instagram.com/m_vanesa_ruffa/#" 
        target="_blank" 
        rel="noopener noreferrer"
        >
        &#64;m_vanesa_ruffa
        </a>
    </div>
    </div>

    <div class="lg:pt-12 pt-6">
    <div class="contact-subtitle">Youtube</div>
    <div class="contact-data link-text cursor-pointer">
        <a 
        href="https://www.youtube.com/@mariavanesaruffa3715" 
        target="_blank" 
        rel="noopener noreferrer"
        >
        &#64;mariavanesaruffa3715
        </a>
    </div>
    </div>

    <div class="lg:pt-12 pt-6">
    <div class="contact-subtitle">Soundcloud</div>
    <div class="contact-data link-text cursor-pointer">
        <a 
        href="https://soundcloud.com/g477narq6pcw?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" 
        target="_blank" 
        rel="noopener noreferrer"
        >
        &#64;vmariavanesaruffa
        </a>
    </div>
    </div>

    <!-- <div class="lg:pt-12 pt-6">
        <div class="contact-subtitle">Tidal</div>
        <div class="contact-data link-text cursor-pointer">&#64;vruffatidal</div>
    </div> -->

</div>
