.contact-title{
    color: #6535DD;
    font-family: "Josefin Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.contact-subtitle{
    color: var(--text, #000);
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.contact-data{
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}